COMPILE_ALL = true
PGADMIN_DEFAULT_EMAIL='[MAIL-ID]'
PGADMIN_DEFAULT_PASSWORD='[PASSWORD]'
POSTGRES_USER=admin
POSTGRES_PASSWORD= admin1234
POSTGRES_DB=rag_database
POSTGRESQL_PORT="5434"
volumes="/run/media/bhat/C02E4D232E4D13B61/docker/rag_postgres/data:/var/lib/postgresql/data"